# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.env
venv/
*.env

# Ignore outputs
outputs/
lightning_logs/
wandb/
models/
visualizations/

# Ignore build files
build/
dist/
*.egg-info/

# General cache and temp files
.DS_Store