# commands
invoke==2.2.0

# pre-commit
pre-commit==3.5.0

# testing
hydra-core==1.3.2
pytest==7.4.3
torch==2.5.1
coverage==7.6.9
httpx==0.28.1

# linting
ruff==0.1.3

# docs
mkdocs==1.5.3
mkdocs-material==9.4.6
mkdocstrings-python==1.12.2
